:root {
  --main-dark: #3D3F2D;
  --main-light: #888;
  --minor-dark: #DEF120;
  --minor-light: #dbd4c1;
  font-size: 62.5%;
  --h1: 3.2rem;
  --h2: 2.8rem;
  --h3: 2.1rem;
  --h4: 1.8rem;
} 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Default
----------------------------------------------------------------------*/
body,
button {
  font-family: 'IBM Plex Serif', serif;
  color: var(--main-dark);
  text-align: center;
}
#container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  /* filter: blur(8px); */
}
#wrapper {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-size: var(--h1);
  font-weight: 600;
  font-style: italic;
}

/* Modal
----------------------------------------------------------------------*/
#modal {
  background-color: var(--minor-light);
  display: none;
}

/* Splash
----------------------------------------------------------------------*/
#splash {
  width: 75vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#quotesection h1 {
  font-size: 12rem;
  margin: 0.5em;
  text-shadow: 3px 3px 0 var(--minor-dark);
  line-height: 0.9em;
}
#quotedisplay {
  font-size: var(--h2);
  font-style: italic;
  margin: 0.25em;
}
#quotename {
  font-size: 1.6rem;
  font-style: italic;
  margin: 0.25em;
}
button#open-modal {
  font-size: 1.6rem;
  font-weight: 600;
  font-style: italic;
  margin: 3em 1em 1em 1em;
  padding: 0.5em 1.5em;
  display: inline-block;
  background-color: var(--minor-dark);
  border: 2px solid var(--minor-light);
  transition: 1s;
}
button#open-modal:hover,
button#open-modal:focus {
  appearance: none;
  border: 2px solid var(--main-light);
  color: var(--minor-light);
  font-weight: 800; 
  cursor: pointer;
  border-radius: 10px;
}